# Reading and Cleaning the data from the cdc website data

In [194]:
import pandas as pd

In [21]:
#If you want to download the file as opped to scrapping the file directly from the website
df = pd.read_sas('LLCP2021.XPT ', format = "xport")

In [22]:
df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [23]:
# change heart.csv to "yourfilename.csv"
df.to_csv('heart.csv', index=False)

### Pulling in the csv file extracted into this notebook and Viewing the content of the file

In [24]:
heart = pd.read_csv("heart.csv")

In [25]:
heart.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [27]:
print("Number of rows:", len(heart))
print("Number of columns (variables in the survey):", len(heart.columns))
print(heart.columns)

Number of rows: 438693
Number of columns (variables in the survey): 303
Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_FRTRES1', '_VEGRES1', '_FRUTSU1', '_VEGESU1', '_FRTLT1A', '_VEGLT1A',
       '_FRT16A', '_VEG23A', '_FRUITE1', '_VEGETE1'],
      dtype='object', length=303)

In [28]:
list(heart.columns)

['_STATE',
 'FMONTH',
 'IDATE',
 'IMONTH',
 'IDAY',
 'IYEAR',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENM1',
 'PVTRESD1',
 'COLGHOUS',
 'STATERE1',
 'CELPHON1',
 'LADULT1',
 'COLGSEX',
 'NUMADULT',
 'LANDSEX',
 'NUMMEN',
 'NUMWOMEN',
 'RESPSLCT',
 'SAFETIME',
 'CTELNUM1',
 'CELLFON5',
 'CADULT1',
 'CELLSEX',
 'PVTRESD3',
 'CCLGHOUS',
 'CSTATE1',
 'LANDLINE',
 'HHADULT',
 'SEXVAR',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'POORHLTH',
 'PRIMINSR',
 'PERSDOC3',
 'MEDCOST1',
 'CHECKUP1',
 'EXERANY2',
 'BPHIGH6',
 'BPMEDS',
 'CHOLCHK3',
 'TOLDHI3',
 'CHOLMED3',
 'CVDINFR4',
 'CVDCRHD4',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD3',
 'ADDEPEV3',
 'CHCKDNY2',
 'DIABETE4',
 'DIABAGE3',
 'HAVARTH5',
 'ARTHEXER',
 'ARTHEDU',
 'LMTJOIN3',
 'ARTHDIS2',
 'JOINPAI2',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL3',
 'NUMPHON3',
 'CPDEMO1B',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME3',
 'PREGNANT',
 'WEIGHT2',
 'HEIGHT3',
 'DEAF',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'USENOW3',
 'ECIGNOW1',
 'ALCDAY5',
 'AVEDRNK3',
 'DRNK3GE5',
 'MAXDRNKS',
 'FLUSHOT7',
 'FLSHTMY3',
 'IMFVPLA2',
 'PNEUVAC4',
 'HIVTST7',
 'HIVTSTD3',
 'FRUIT2',
 'FRUITJU2',
 'FVGREEN1',
 'FRENCHF1',
 'POTATOE1',
 'VEGETAB2',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN1',
 'BLDSUGAR',
 'FEETCHK3',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM1',
 'DIABEYE',
 'DIABEDU',
 'TOLDCFS',
 'HAVECFS',
 'WORKCFS',
 'TOLDHEPC',
 'TRETHEPC',
 'PRIRHEPC',
 'HAVEHEPC',
 'HAVEHEPB',
 'MEDSHEPB',
 'HPVADVC4',
 'HPVADSHT',
 'TETANUS1',
 'SHINGLE2',
 'LCSFIRST',
 'LCSLAST',
 'LCSNUMCG',
 'LCSCTSCN',
 'HADMAM',
 'HOWLONG',
 'CERVSCRN',
 'CRVCLCNC',
 'CRVCLPAP',
 'CRVCLHPV',
 'HADHYST2',
 'PSATEST1',
 'PSATIME1',
 'PCPSARS2',
 'PCSTALK',
 'HADSIGM4',
 'COLNSIGM',
 'COLNTES1',
 'SIGMTES1',
 'LASTSIG4',
 'COLNCNCR',
 'VIRCOLO1',
 'VCLNTES1',
 'SMALSTOL',
 'STOLTEST',
 'STOOLDN1',
 'BLDSTFIT',
 'SDNATES1',
 'CNCRDIFF',
 'CNCRAGE',
 'CNCRTYP1',
 'CSRVTRT3',
 'CSRVDOC1',
 'CSRVSUM',
 'CSRVRTRN',
 'CSRVINST',
 'CSRVINSR',
 'CSRVDEIN',
 'CSRVCLIN',
 'CSRVPAIN',
 'CSRVCTL2',
 'HOMBPCHK',
 'HOMRGCHK',
 'WHEREBP',
 'SHAREBP',
 'WTCHSALT',
 'DRADVISE',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'CAREGIV1',
 'CRGVREL4',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB3',
 'CRGVALZD',
 'CRGVPER1',
 'CRGVHOU1',
 'CRGVEXPT',
 'ACEDEPRS',
 'ACEDRINK',
 'ACEDRUGS',
 'ACEPRISN',
 'ACEDIVRC',
 'ACEPUNCH',
 'ACEHURT1',
 'ACESWEAR',
 'ACETOUCH',
 'ACETTHEM',
 'ACEHVSEX',
 'ACEADSAF',
 'ACEADNED',
 'MARIJAN1',
 'USEMRJN3',
 'RSNMRJN2',
 'LASTSMK2',
 'STOPSMK2',
 'FIREARM5',
 'GUNLOAD',
 'LOADULK2',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'BIRTHSEX',
 'SOMALE',
 'SOFEMALE',
 'TRNSGNDR',
 'QSTVER',
 'QSTLANG',
 '_METSTAT',
 '_URBSTAT',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_IMPRACE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE1',
 'CAGEG',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT2',
 '_LLCPWT',
 '_RFHLTH',
 '_PHYS14D',
 '_MENT14D',
 '_HLTHPLN',
 '_HCVU652',
 '_TOTINDA',
 '_RFHYPE6',
 '_CHOLCH3',
 '_RFCHOL3',
 '_MICHD',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR3',
 '_LMTACT3',
 '_LMTWRK3',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACEPRV',
 '_SEX',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG1',
 '_SMOKER3',
 '_RFSMOK3',
 '_CURECI1',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWK1',
 '_RFDRHV7',
 '_FLSHOT7',
 '_PNEUMO3',
 '_AIDTST4',
 'FTJUDA2_',
 'FRUTDA2_',
 'GRENDA1_',
 'FRNCHDA_',
 'POTADA1_',
 'VEGEDA2_',
 '_MISFRT1',
 '_MISVEG1',
 '_FRTRES1',
 '_VEGRES1',
 '_FRUTSU1',
 '_VEGESU1',
 '_FRTLT1A',
 '_VEGLT1A',
 '_FRT16A',
 '_VEG23A',
 '_FRUITE1',
 '_VEGETE1']

In [29]:
heart

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,b'01192021',b'01',b'19',b'2021',1100.0,b'2021000001',2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000002',2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,b'01212021',b'01',b'21',b'2021',1100.0,b'2021000003',2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,b'01172021',b'01',b'17',b'2021',1100.0,b'2021000004',2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,b'01152021',b'01',b'15',b'2021',1100.0,b'2021000005',2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438688,78.0,12.0,b'01062022',b'01',b'06',b'2022',1100.0,b'2021001381',2.021001e+09,NaN,...,1.0,1.0,157.0,393.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
438689,78.0,12.0,b'01122022',b'01',b'12',b'2022',1100.0,b'2021001382',2.021001e+09,NaN,...,1.0,1.0,200.0,157.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
438690,78.0,12.0,b'12212021',b'12',b'21',b'2021',1100.0,b'2021001383',2.021001e+09,NaN,...,1.0,1.0,200.0,143.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
438691,78.0,12.0,b'01112022',b'01',b'11',b'2022',1100.0,b'2021001384',2.021001e+09,NaN,...,1.0,1.0,100.0,156.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
438692,78.0,12.0,b'12222021',b'12',b'22',b'2021',1100.0,b'2021001385',2.021001e+09,NaN,...,1.0,1.0,34.0,66.0,2.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79

**Important Risk Factors**

##### Research in the field has identified the following as important risk factors for heart disease (not in strict order of importance):


* blood pressure (high)
* cholesterol (high)
* smoking
* diabetes
* obesity
* age
* sex
* race
* diet
* exercise
* alcohol consumption
* BMI
* Household Income
* Education
* Health care coverage
* Mental Health

#### The selected features from the BRFSS 2021 dataset are:

##### Response Variable / Dependent Variable:

* Respondents that have ever reported having coronary heart disease (CHD) or myocardial  infarction (MI) : **_MICHD** 

##### Independent Variables:

**High Blood Pressure**

* Adults who have been told they have high blood pressure by a doctor, nurse, or other health professional : **_RFHYPE6**

**High Cholesterol**

* Have you EVER been told by a doctor, nurse or other health professional that your blood cholesterol is high? : **TOLDHI3**
* Cholesterol check within past five years : **_CHOLCH3**

**BMI**

* Body Mass Index (BMI) : **_BMI5** 

**Smoking**

* Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] : **SMOKE100**

**Other Chronic Health Conditions**

* (Ever told) you had a stroke. :  **CVDSTRK3**
* (Ever told) you have diabetes (If "Yes" and respondent is female, ask "Was this only when you were pregnant?") : **PREDIAB1** 
* Ever Told Had Asthma: **ASTHMA3**
* (Ever told) you had skin cancer?: **CHCSCNCR** 
* Ever told you have kidney disease? : **CHCKDNY2**

**Physical Activity**

* Adults who reported doing physical activity or exercise during the past 30 days other than their regular job : **_TOTINDA**

**Diet**

* Consume Fruit 1 or more times per day : **_FRTLT1A**
* Consume Vegetables 1 or more times per day : **_VEGLT1A**

**Alcohol Consumption**

* Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week) : **_RFDRHV7**

**Health Care**

* Do you have any kind of health care coverage, including health insurance, prepaid plans such as HMOs, or government plans such as Medicare, or Indian Health Service? : **_HCVU652**
* Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? : **MEDCOST1**

**Health General and Mental Health**

* Would you say that in general your health is: **GENHLTH**
* Now thinking about your mental health, which includes stress, depression, and problems with emotions, for how many days during the past 30 days was your mental health not good? : **MENTHLTH**
* Now thinking about your physical health, which includes physical illness and injury, for how many days during the past 30 days was your physical health not good? : **PHYSHLTH**
* Do you have serious difficulty walking or climbing stairs? : **DIFFWALK**

**Demographics**

* Indicate sex of respondent.: **SEXVAR**
* Fourteen-level age category : **_AGEG5YR**
* What is the highest grade or year of school you completed?: **_EDUCAG**
* Is your annual household income from all sources: (If respondent refuses at any income level, code "Refused.") : **INCOME3**
* Imputed race/ethnicity value: **_IMPRACE**
* Overweight or obese calculated variable - **_RFBMI5**

### Selecting specific columns from the dataset

In [221]:
brfss_df_selected = heart[['_MICHD', '_RFHYPE6', 'TOLDHI3', '_CHOLCH3', '_BMI5', 'SMOKE100', 'CVDSTRK3', 'PREDIAB1', '_TOTINDA', '_FRTLT1A', '_VEGLT1A', '_RFDRHV7', 'MEDCOST1', 'GENHLTH', 'MENTHLTH', 'PHYSHLTH', 'DIFFWALK', 'SEXVAR', '_AGEG5YR', 'EDUCA', 'INCOME3','_HCVU652','ASTHMA3','CHCSCNCR','_IMPRACE','CHCKDNY2','_RFBMI5']]

In [222]:
brfss_df_selected.shape

(438693, 27)

In [223]:
brfss_df_selected.head()

,_MICHD,_RFHYPE6,TOLDHI3,_CHOLCH3,_BMI5,SMOKE100,CVDSTRK3,PREDIAB1,_TOTINDA,_FRTLT1A,...,SEXVAR,_AGEG5YR,EDUCA,INCOME3,_HCVU652,ASTHMA3,CHCSCNCR,_IMPRACE,CHCKDNY2,_RFBMI5
0,2.0,1.0,1.0,1.0,1454.0,1.0,2.0,3.0,2.0,1.0,...,2.0,11.0,4.0,5.0,9.0,1.0,2.0,1.0,2.0,1.0
1,1.0,2.0,1.0,1.0,NaN,2.0,2.0,NaN,1.0,1.0,...,2.0,10.0,6.0,77.0,9.0,2.0,2.0,2.0,1.0,9.0
2,1.0,2.0,2.0,1.0,2829.0,2.0,2.0,NaN,2.0,1.0,...,2.0,11.0,4.0,3.0,9.0,2.0,2.0,2.0,2.0,2.0
3,2.0,2.0,1.0,1.0,3347.0,2.0,2.0,NaN,1.0,1.0,...,2.0,9.0,4.0,7.0,1.0,2.0,2.0,1.0,2.0,2.0
4,1.0,1.0,1.0,1.0,2873.0,2.0,1.0,NaN,1.0,1.0,...,1.0,12.0,3.0,4.0,9.0,2.0,2.0,6.0,2.0,2.0

# Cleaning the Data

Missing Values

In [224]:
#Drop Missing Values - knocks 100,000 rows out right away
brfss_df_selected = brfss_df_selected.dropna()
brfss_df_selected.shape

(85438, 27)

#### Modifying Values

In [225]:
# _MICHD
#Change 2 to 0 because this means did not have MI(myocardial infarction) or CHD (coronary heart disease)
brfss_df_selected['_MICHD'] = brfss_df_selected['_MICHD'].replace({2: 0})
brfss_df_selected._MICHD.unique()

array([0., 1.])

In [226]:
#1 _RFHYPE6
#Change 1 to 0 so it represetnts No high blood pressure and 2 to 1 so it represents high blood pressure
brfss_df_selected['_RFHYPE6'] = brfss_df_selected['_RFHYPE6'].replace({1:0, 2:1})
brfss_df_selected = brfss_df_selected[brfss_df_selected._RFHYPE6 != 9]
brfss_df_selected._RFHYPE6.unique()

array([0., 1.])

In [227]:
#2 TOLDHI3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
brfss_df_selected['TOLDHI3'] = brfss_df_selected['TOLDHI3'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.TOLDHI3 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.TOLDHI3 != 9]
brfss_df_selected.TOLDHI3.unique()

array([1., 0.])

In [228]:
#3 _CHOLCH3
# Change 3 to 0 and 2 to 0 for Not checked cholesterol in past 5 years
# Remove 9
brfss_df_selected['_CHOLCH3'] = brfss_df_selected['_CHOLCH3'].replace({3:0,2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected._CHOLCH3 != 9]
brfss_df_selected._CHOLCH3.unique()

array([1., 0.])

In [229]:
#4 _BMI5 (no changes, just note that these are BMI * 100. So for example a BMI of 4018 is really 40.18)
brfss_df_selected['_BMI5'] = brfss_df_selected['_BMI5'].div(100).round(0)
brfss_df_selected._BMI5.unique()

array([15., 24., 46., 23., 40., 27., 33., 29., 30., 36., 22., 35., 31.,
       28., 26., 25., 18., 45., 14., 38., 21., 32., 20., 19., 34., 43.,
       44., 39., 37., 16., 42., 51., 50., 52., 49., 41., 17., 47., 57.,
       48., 58., 53., 63., 64., 54., 68., 56., 55., 73., 59., 13., 60.,
       66., 65., 70., 67., 98., 78., 79., 61., 82., 12., 62., 81., 71.,
       75., 76., 85., 72., 84., 94., 74., 69., 92., 77.])

In [230]:
#5 SMOKE100
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
brfss_df_selected['SMOKE100'] = brfss_df_selected['SMOKE100'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.SMOKE100 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.SMOKE100 != 9]
brfss_df_selected.SMOKE100.unique()

array([1., 0.])

In [231]:
#6 CVDSTRK3
# Change 2 to 0 because it is No
# Remove all 7 (dont knows)
# Remove all 9 (refused)
brfss_df_selected['CVDSTRK3'] = brfss_df_selected['CVDSTRK3'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.CVDSTRK3 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.CVDSTRK3 != 9]
brfss_df_selected.CVDSTRK3.unique()

array([0., 1.])

In [232]:
#7 PREDIAB1 -Diabetes
# going to make this ordinal. 0 is for no diabetes or only during pregnancy, 1 is for pre-diabetes or borderline diabetes, 2 is for yes diabetes
# Remove all 7 (dont knows)
# Remove all 9 (refused)
brfss_df_selected['PREDIAB1'] = brfss_df_selected['PREDIAB1'].replace({2:0, 3:0, 1:2, 4:1})
brfss_df_selected = brfss_df_selected[brfss_df_selected.PREDIAB1 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.PREDIAB1 != 9]
brfss_df_selected.PREDIAB1.unique()

array([0., 2.])

In [233]:
#8 _TOTINDA
# 1 for physical activity
# change 2 to 0 for no physical activity
# Remove all 9 (don't know/refused)
brfss_df_selected['_TOTINDA'] = brfss_df_selected['_TOTINDA'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected._TOTINDA != 9]
brfss_df_selected._TOTINDA.unique()

array([0., 1.])

In [234]:
#9 _FRTLT1A
# Change 2 to 0. this means no fruit consumed per day. 1 will mean consumed 1 or more pieces of fruit per day 
# remove all dont knows and missing 9
brfss_df_selected['_FRTLT1A'] = brfss_df_selected['_FRTLT1A'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected._FRTLT1A != 9]
brfss_df_selected._FRTLT1A.unique()

array([1., 0.])

In [235]:
#10 _VEGLT1A
# Change 2 to 0. this means no vegetables consumed per day. 1 will mean consumed 1 or more pieces of vegetable per day 
# remove all dont knows and missing 9
brfss_df_selected['_VEGLT1A'] = brfss_df_selected['_VEGLT1A'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected._VEGLT1A != 9]
brfss_df_selected._VEGLT1A.unique()

array([1., 0.])

In [236]:
#11 _RFDRHV7
# Change 1 to 0 (1 was no for heavy drinking). change all 2 to 1 (2 was yes for heavy drinking)
# remove all dont knows and missing 9
brfss_df_selected['_RFDRHV7'] = brfss_df_selected['_RFDRHV7'].replace({1:0, 2:1})
brfss_df_selected = brfss_df_selected[brfss_df_selected._RFDRHV7 != 9]
brfss_df_selected._RFDRHV7.unique()

array([0., 1.])

In [237]:
#12  _HCVU652
# 1 is yes, change 2 to 0 because it is No health care access
# remove 7 and 9 for don't know or refused
brfss_df_selected['_HCVU652'] = brfss_df_selected['_HCVU652'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected._HCVU652 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected._HCVU652 != 9]
brfss_df_selected._HCVU652.unique()

array([1., 0.])

In [238]:
#13 MEDCOST1
# Change 2 to 0 for no, 1 is already yes
# remove 7 for don/t know and 9 for refused
brfss_df_selected['MEDCOST1'] = brfss_df_selected['MEDCOST1'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.MEDCOST1 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.MEDCOST1 != 9]
brfss_df_selected.MEDCOST1.unique()

array([0., 1.])

In [239]:
#14 GENHLTH
# This is an ordinal variable that I want to keep (1 is Excellent -> 5 is Poor)
# Remove 7 and 9 for don't know and refused
brfss_df_selected = brfss_df_selected[brfss_df_selected.GENHLTH != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.GENHLTH != 9]
brfss_df_selected.GENHLTH.unique()

array([3., 4., 2., 1., 5.])

In [240]:
#15 MENTHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
brfss_df_selected['MENTHLTH'] = brfss_df_selected['MENTHLTH'].replace({88:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.MENTHLTH != 77]
brfss_df_selected = brfss_df_selected[brfss_df_selected.MENTHLTH != 99]
brfss_df_selected.MENTHLTH.unique()

array([ 0.,  7., 30., 25., 10., 14., 20.,  5.,  2.,  3.,  1., 15., 28.,
        4., 12.,  6., 22., 27., 18., 13., 17.,  8.,  9., 21., 19., 16.,
       23., 24., 29., 26., 11.])

In [241]:
#16 PHYSHLTH
# already in days so keep that, scale will be 0-30
# change 88 to 0 because it means none (no bad mental health days)
# remove 77 and 99 for don't know not sure and refused
brfss_df_selected['PHYSHLTH'] = brfss_df_selected['PHYSHLTH'].replace({88:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.PHYSHLTH != 77]
brfss_df_selected = brfss_df_selected[brfss_df_selected.PHYSHLTH != 99]
brfss_df_selected.PHYSHLTH.unique()

array([30.,  0., 15.,  2.,  8., 14., 20., 10.,  4.,  5.,  3.,  1.,  7.,
       16., 17., 25., 26.,  6., 12.,  9., 27., 13., 29., 11., 21., 18.,
       28., 24., 22., 19., 23.])

In [242]:
#17 DIFFWALK
# change 2 to 0 for no. 1 is already yes
# remove 7 and 9 for don't know not sure and refused
brfss_df_selected['DIFFWALK'] = brfss_df_selected['DIFFWALK'].replace({2:0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.DIFFWALK != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.DIFFWALK != 9]
brfss_df_selected.DIFFWALK.unique()

array([1., 0.])

In [243]:
#18 SEXVAR
# in other words - is respondent male (somewhat arbitrarily chose this change because men are at higher risk for heart disease)
# change 2 to 0 (female as 0). Male is 1
brfss_df_selected['SEXVAR'] = brfss_df_selected['SEXVAR'].replace({2:0})
brfss_df_selected.SEXVAR.unique()

array([1., 0.])

In [244]:
#19 _AGEG5YR
# already ordinal. 1 is 18-24 all the way up to 13 wis 80 and older. 5 year increments.
# remove 14 because it is don't know or missing
brfss_df_selected = brfss_df_selected[brfss_df_selected._AGEG5YR != 14]
brfss_df_selected._AGEG5YR.unique()

array([9., 7., 8., 6., 4., 5., 2., 3., 1.])

In [245]:
#20 EDUCA
# This is already an ordinal variable with 1 being never attended school or kindergarten only up to 6 being college 4 years or more
# Scale here is 1-6
# Remove 9 for refused:
brfss_df_selected = brfss_df_selected[brfss_df_selected.EDUCA != 9]
brfss_df_selected.EDUCA.unique()

array([6., 3., 4., 5., 2., 1.])

In [246]:
#21 INCOME3
# Variable is already ordinal with 1 being less than $10,000 all the way up to 8 being $75,000 or more
# Remove 77 and 99 for don't know and refused
brfss_df_selected = brfss_df_selected[brfss_df_selected.INCOME3 != 77]
brfss_df_selected = brfss_df_selected[brfss_df_selected.INCOME3 != 99]
brfss_df_selected.INCOME3.unique()

array([ 6.,  5.,  8., 10.,  7.,  9.,  3.,  1.,  4.,  2., 11.])

In [247]:
#22 CHCSCNCR- cancer
brfss_df_selected['CHCSCNCR'] = brfss_df_selected['CHCSCNCR'].replace({2: 0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.CHCSCNCR != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.CHCSCNCR != 9]
brfss_df_selected.CHCSCNCR.unique()

array([0., 1.])

In [248]:
#23 ASTHMA3- Asthama

brfss_df_selected['ASTHMA3'] = brfss_df_selected['ASTHMA3'].replace({2: 0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.ASTHMA3 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.ASTHMA3 != 9]
brfss_df_selected.ASTHMA3.unique()

array([1., 0.])

In [249]:
#24 _RFBMI5- Obese

brfss_df_selected['_RFBMI5'] = brfss_df_selected['_RFBMI5'].replace({1:0, 2:1})
brfss_df_selected = brfss_df_selected[brfss_df_selected._RFBMI5 != 9]
brfss_df_selected._RFBMI5.unique()

array([1., 0.])

In [250]:
#25 CHCKDNY2 - Kidney Disorder

brfss_df_selected['CHCKDNY2'] = brfss_df_selected['CHCKDNY2'].replace({2: 0})
brfss_df_selected = brfss_df_selected[brfss_df_selected.CHCKDNY2 != 7]
brfss_df_selected = brfss_df_selected[brfss_df_selected.CHCKDNY2 != 9]
brfss_df_selected.CHCKDNY2.unique()

array([0., 1.])

In [251]:
#Check the shape of the dataset now: We have 253,680 cleaned rows and 22 columns (1 of which is our dependent variable)
brfss_df_selected.shape

(39452, 27)

In [252]:
#Let's see what the data looks like after Modifying Values
brfss_df_selected.head(10)

,_MICHD,_RFHYPE6,TOLDHI3,_CHOLCH3,_BMI5,SMOKE100,CVDSTRK3,PREDIAB1,_TOTINDA,_FRTLT1A,...,SEXVAR,_AGEG5YR,EDUCA,INCOME3,_HCVU652,ASTHMA3,CHCSCNCR,_IMPRACE,CHCKDNY2,_RFBMI5
19,0.0,1.0,1.0,1.0,30.0,0.0,0.0,0.0,0.0,1.0,...,0.0,7.0,4.0,6.0,1.0,1.0,0.0,1.0,0.0,1.0
47,0.0,1.0,0.0,1.0,27.0,1.0,1.0,0.0,1.0,0.0,...,0.0,7.0,5.0,5.0,1.0,0.0,0.0,1.0,0.0,1.0
53,0.0,0.0,0.0,1.0,22.0,0.0,0.0,0.0,1.0,1.0,...,0.0,9.0,6.0,8.0,1.0,0.0,0.0,1.0,0.0,0.0
61,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,8.0,6.0,10.0,1.0,0.0,0.0,1.0,0.0,1.0
65,0.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,0.0,1.0,...,0.0,8.0,5.0,7.0,1.0,0.0,0.0,1.0,0.0,1.0
67,0.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,1.0,0.0,...,0.0,9.0,4.0,7.0,1.0,0.0,0.0,1.0,0.0,1.0
68,0.0,1.0,0.0,1.0,45.0,1.0,0.0,0.0,0.0,1.0,...,0.0,9.0,4.0,9.0,1.0,1.0,0.0,1.0,0.0,1.0
84,0.0,1.0,0.0,1.0,26.0,1.0,0.0,0.0,1.0,1.0,...,1.0,6.0,5.0,9.0,1.0,0.0,0.0,2.0,0.0,1.0
85,0.0,0.0,1.0,1.0,23.0,0.0,0.0,0.0,1.0,1.0,...,1.0,6.0,6.0,9.0,1.0,0.0,0.0,1.0,0.0,0.0
88,0.0,0.0,0.0,1.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,7.0,6.0,7.0,1.0,0.0,0.0,1.0,0.0,0.0

In [253]:
#Check Class Sizes
brfss_df_selected.groupby(['_MICHD']).size()

_MICHD
0.0    38098
1.0     1354
dtype: int64

#### Make Feature Names More Readable

In [262]:
brfss_cleaned = brfss_df_selected.rename(columns = {'_MICHD':'HeartDiseaseorAttack', 
                                         '_RFHYPE6':'High BP',  
                                         'TOLDHI3':'High Cholesterol', '_CHOLCH3':'Cholesterol Check', 
                                         '_BMI5':'BMI', 
                                         'SMOKE100':'Smoker', 
                                         'CVDSTRK3':'Stroke', 'PREDIAB1':'Diabetes', 
                                         'CHCKDNY2':'Kidney Disease', '_IMPRACE':'Race', 
                                         'ASTHMA3':'Asthama', 'CHCSCNCR':'Skin Cancer',
                                         '_TOTINDA':'Physical Activity', 
                                         '_FRTLT1A':'Fruits', '_VEGLT1A':"Veggies", 
                                         '_RFDRHV7':'HeavyAlcoholConsump','_RFBMI5':'Obese', 
                                         '_HCVU652':'AnyHealthcare', 'MEDCOST1':'NoDocbcozCost', 
                                         'GENHLTH':'General Health', 'MENTHLTH':'Mental Health', 'PHYSHLTH':'PhysicalHlth', 'DIFFWALK':'DifficultyWalk', 
                                         'SEXVAR':'Sex', '_AGEG5YR':'Age', 'EDUCA':'Education', 'INCOME3':'Income' })

In [263]:
#See the cleaned dataset with 
brfss_cleaned.head(10)

,HeartDiseaseorAttack,High BP,High Cholesterol,Cholesterol Check,BMI,Smoker,Stroke,Diabetes,Physical Activity,Fruits,...,Sex,Age,Education,Income,AnyHealthcare,Asthama,Skin Cancer,Race,Kidney Disease,Obese
19,0.0,1.0,1.0,1.0,30.0,0.0,0.0,0.0,0.0,1.0,...,0.0,7.0,4.0,6.0,1.0,1.0,0.0,1.0,0.0,1.0
47,0.0,1.0,0.0,1.0,27.0,1.0,1.0,0.0,1.0,0.0,...,0.0,7.0,5.0,5.0,1.0,0.0,0.0,1.0,0.0,1.0
53,0.0,0.0,0.0,1.0,22.0,0.0,0.0,0.0,1.0,1.0,...,0.0,9.0,6.0,8.0,1.0,0.0,0.0,1.0,0.0,0.0
61,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,8.0,6.0,10.0,1.0,0.0,0.0,1.0,0.0,1.0
65,0.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,0.0,1.0,...,0.0,8.0,5.0,7.0,1.0,0.0,0.0,1.0,0.0,1.0
67,0.0,1.0,1.0,1.0,30.0,1.0,0.0,0.0,1.0,0.0,...,0.0,9.0,4.0,7.0,1.0,0.0,0.0,1.0,0.0,1.0
68,0.0,1.0,0.0,1.0,45.0,1.0,0.0,0.0,0.0,1.0,...,0.0,9.0,4.0,9.0,1.0,1.0,0.0,1.0,0.0,1.0
84,0.0,1.0,0.0,1.0,26.0,1.0,0.0,0.0,1.0,1.0,...,1.0,6.0,5.0,9.0,1.0,0.0,0.0,2.0,0.0,1.0
85,0.0,0.0,1.0,1.0,23.0,0.0,0.0,0.0,1.0,1.0,...,1.0,6.0,6.0,9.0,1.0,0.0,0.0,1.0,0.0,0.0
88,0.0,0.0,0.0,1.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,7.0,6.0,7.0,1.0,0.0,0.0,1.0,0.0,0.0

In [264]:
list(brfss_cleaned.columns)

['HeartDiseaseorAttack',
 'High BP',
 'High Cholesterol',
 'Cholesterol Check',
 'BMI',
 'Smoker',
 'Stroke',
 'Diabetes',
 'Physical Activity',
 'Fruits',
 'Veggies',
 'HeavyAlcoholConsump',
 'NoDocbcozCost',
 'General Health',
 'Mental Health',
 'PhysicalHlth',
 'DifficultyWalk',
 'Sex',
 'Age',
 'Education',
 'Income',
 'AnyHealthcare',
 'Asthama',
 'Skin Cancer',
 'Race',
 'Kidney Disease',
 'Obese']

In [265]:
brfss_cleaned.isnull()

,HeartDiseaseorAttack,High BP,High Cholesterol,Cholesterol Check,BMI,Smoker,Stroke,Diabetes,Physical Activity,Fruits,...,Sex,Age,Education,Income,AnyHealthcare,Asthama,Skin Cancer,Race,Kidney Disease,Obese
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
438686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
438688,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
438690,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
438692,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [266]:
brfss_cleaned.to_csv('brfssCleaned.csv', index=False)